<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<!-- If welcometext is blank then it prints value in between the h1 tags  -->
<h1 th:text="${welcometext}">WELCOME TO FURNITURE WORLD</h1>
</body>
</html>
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>

    <title>PPC Returns Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" ></meta>

</head>
<body>
<div layout:fragment="content" th:remove="tag">
<div style="margin-left: 30px;margin-top: 30px">

&lt;!&ndash;
<img src="/images/homePageLogo.jpg" width="110" height="35" class="d-inline-block align-top" alt="">
    <h4>CRUSADE FURNITURE</h4>
&ndash;&gt;
    &lt;!&ndash;<span th:text="${welcometext}" th:remove="tag"></span>&ndash;&gt;
</div>
</div>
</body>

</html>